<div class=booking-confirmation-container>
  <h1>Your booking is confirmed</h1>
  <h3>Below is your booking info.</h3>
  <%= cl_image_tag @booking.course.photo.key, class: "booking-confirmation-img" %>
  <div class="booking-confirmation-column">
    <p><strong>Course name:</strong></p>
    <p><%= @booking.course.name %></p>
  </div>
  <div class="booking-confirmation-column">
    <p><strong>Course price:</strong></p>
    <p><%= @booking.total_price %> €</p>
  </div>
  <div class="booking-confirmation-column">
    <p><strong>Course starts:</strong></p>
    <p><%= @booking.start_date %></p>
  </div>
   <div class="booking-confirmation-column">
    <p><strong>Course ends:</strong></p>
    <p><%= @booking.end_date %></p>
  </div>
  <div class="booking-confirmation-column">
    <p><strong>Course status:</strong></p>
    <p><%= @booking.status %></p>
  </div>
  <p>You'll be notified when the teacher has accepted your offer</p>
  <p style="width: 200px; color: white" class="button"> <%= link_to 'See all your bookings', dashboard_path  %> </p>
</div>
