
<div class="hero-image">
  <div class="hero-text">
    <h1>Learn A New Skill</h1>
    <%= link_to 'View all courses', courses_path, class: "button" %>

  </div>
</div>


<div class="container">

  <h1>Featured Courses</h1>

<div class="my-card-wrapper">
    <% @courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="my-card">
          <div class="my-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path course.photo.key, crop: :fill if course.photo.attached? %>')"></div>
          <div class="my-card-info">
            <div class="my-card-main">
              <strong><%= course.name%></strong>
              <p><%= course.description%></p>
            </div>
            <div class="my-card-footer">
              <div class="my-card-price">
                💰 <%= course.price %> €
              </div>
              <div class="my-card-location">
                🗺 <%= course.location%>
              </div>
              <% user = User.find(course.user_id)%>
              <div class="my-user-info">
                <%= cl_image_tag course.user.photo.key, class: "my-avatar" if course.photo.attached? %>
                <div class="my-user-name">
                  <%= user.first_name%>
                  <%= user.last_name%>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end  %>
  </div>
</div>

<div class="footer">
  <ul>
    <li>About Skillrocket</li>
    <li>Sign Up</li>
    <li>FAQ</li>
    <li>Contact Skillrocket</li>
  </ul>
  <div id="footer-logo">
    <%= link_to root_path, class: "navbar-brand" do%>
      <%= image_tag 'rocket_logo.png', style: "width: 70px"%>
    <% end %>
  </div>
</div>
