<h1>Test</h1>

<% @bookings.each do |booking| %>
  <div class="my-booking-card">
    <p><%= booking.status %></p>
    <p><%= booking.course.name %></p>
    <p><%= booking.totalprice %></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
  </div>
<% end  %>
