<div class="max-booking-container">
  <div class="max-bookings">
  <h3 id="max-booking-header">The courses you've booked</h3>
    <% @bookings.each do |booking| %>
      <div class="booking-testing">
        <%= cl_image_tag booking.course.photo.key, class: "max-booking-class-img" %>
        <div class="max-booking-info">
          <strong><p><%= booking.course.name %></p></strong>
          <p>💰<%= booking.total_price %> €</p>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.status %></p>
        </div>
      </div>
    <% end  %>
  </div>

  <div class="my-received-bookings">
    <h3 id="max-booking-header">Bookings for classes you teach</h3>
    <% @received_bookings.each do |booking| %>
      <div class="booking-testing" >
        <%= cl_image_tag booking.course.photo.key, class: "max-booking-class-img"%>
        <div class="max-booking-info">
          <strong><p><%= booking.course.name %></p></strong>
          <p>💰<%= booking.total_price %> €</p>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.status %></p>
          <%= link_to booking_path(booking, {status: "confirmed"}), method: :patch do %>
          <i class="fas fa-check maxi-icon"></i>
          <% end %>
          <%= link_to booking_path(booking, {status: "canceled"}), method: :patch do %>
          <i class="fas fa-ban maxi-icon"></i>
          <% end %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
