<div class="dashboard-container">
  <div class = "dashboard-left-half">
    <h1>Requested bookings</h1>
    <div class= "dashboard-pending">
      <h3>Pending bookings</h3>
      <% @bookings.each do |booking| %>
        <% if booking.status == "pending" %>
        <div class="dashboard-card">
          <div class="dashboard-card-img">
            <%= cl_image_tag booking.course.photo.key, class: "dashboard-card-img" %>
          </div>
          <div class= "dashboard-card-info">
            <h4><strong>Course name:</strong></h4>
            <h2><%= booking.course.name %></h2>
            <div class = dashboard-card-info-split>
              <div class= "dashboard-card-info-left">
                <p><strong>Course starts:</strong></p>
                <p><%= booking.start_date %></p>
                <p><strong>Course ends:</strong></p>
                <p><%= booking.end_date %></p>
              </div>
              <div class= "dashboard-card-info-right">
                <p><strong>Course price:</strong></p>
                <p><%= booking.total_price %> €</p>
                <p><strong>Booking status:</strong></p>
                <p style="color: orange;"><%= booking.status %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="dashboard-confirmed">
      <h3>Confirmed courses</h3>
      <% @bookings.each do |booking| %>
        <% if booking.status == "confirmed" %>
        <div class="dashboard-card">
          <div class="dashboard-card-img">
            <%= cl_image_tag booking.course.photo.key, class: "dashboard-card-img"%>
          </div>
          <div class= "dashboard-card-info">
            <h4><strong>Course name:</strong></h4>
            <h2><%= booking.course.name %></h2>
            <div class = dashboard-card-info-split>
              <div class= "dashboard-card-info-left">
                <p><strong>Course starts:</strong></p>
                <p><%= booking.start_date %></p>
                <p><strong>Course ends:</strong></p>
                <p><%= booking.end_date %></p>
              </div>
              <div class= "dashboard-card-info-right">
                <p><strong>Course price:</strong></p>
                <p><%= booking.total_price %> €</p>
                <p><strong>Booking status:</strong></p>
                <p style="color: green;"><%= booking.status %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end  %>
    </div>
    <div class="dashboard-cancelled">
      <h3>Cancelled bookings</h3>
      <% @bookings.each do |booking| %>
        <% if booking.status == "cancelled" %>
        <div class="dashboard-card">
          <div class="dashboard-card-img">
            <%= cl_image_tag booking.course.photo.key, class: "dashboard-card-img"%>
          </div>
          <div class= "dashboard-card-info">
            <h4><strong>Course name:</strong></h4>
            <h2><%= booking.course.name %></h2>
            <div class = dashboard-card-info-split>
              <div class= "dashboard-card-info-left">
                <p><strong>Course starts:</strong></p>
                <p><%= booking.start_date %></p>
                <p><strong>Course ends:</strong></p>
                <p><%= booking.end_date %></p>
              </div>
              <div class= "dashboard-card-info-right">
                <p><strong>Course price:</strong></p>
                <p><%= booking.total_price %> €</p>
                <p><strong>Booking status:</strong></p>
                <p style="color: red;"><%= booking.status %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="dashboard-done">
      <h3>Past courses</h3>
      <% @bookings.each do |booking| %>
        <% if booking.end_date <= Date.new && booking.status == "confirmed" %>
          <% booking.status = "done" %>
        <% end %>
        <% if booking.status == "done" %>
        <div class="dashboard-card">
          <div class="dashboard-card-img">
            <%= cl_image_tag booking.course.photo.key, class: "dashboard-card-img"%>
          </div>
          <div class= "dashboard-card-info">
            <h4><strong>Course name:</strong></h4>
            <h2><%= booking.course.name %></h2>
            <div class = dashboard-card-info-split>
              <div class= "dashboard-card-info-left">
                <p><strong>Course starts:</strong></p>
                <p><%= booking.start_date %></p>
                <p><strong>Course ends:</strong></p>
                <p><%= booking.end_date %></p>
              </div>
              <div class= "dashboard-card-info-right">
                <p><strong>Course price:</strong></p>
                <p><%= booking.total_price %> €</p>
                <p><strong>Booking status:</strong></p>
                <p style="color: blue;"><%= booking.status %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end  %>
    </div>
  </div>
  <div class = "dashboard-right-half">
  <h1>Recieved bookings</h1>
    <div class= "dashboard-teach">
      <h3> Pending bookings for your courses</h3>
      <% @received_bookings.each do |booking| %>
        <% if booking.status == "pending" || booking.status == "confirmed" %>
        <div class="dashboard-card">
          <div class="dashboard-card-img">
            <%= cl_image_tag booking.course.photo.key, class: "dashboard-card-img"%>
          </div>
          <div class= "dashboard-card-info">
            <h4><strong>Course name:</strong></h4>
            <h2><%= booking.course.name %></h2>
            <div class = dashboard-card-info-split>
              <div class= "dashboard-card-info-left">
                <p><strong>Course starts:</strong></p>
                <p><%= booking.start_date %></p>
                <p><strong>Course ends:</strong></p>
                <p><%= booking.end_date %></p>
              </div>
              <div class= "dashboard-card-info-right">
                <p><strong>Course price:</strong></p>
                <p><%= booking.total_price %> €</p>
                <p><strong>Booking status:</strong></p>
                <% if booking.status == "pending" %>
                  <p style="color: orange;"><%= booking.status %></p>
                <% elsif booking.status == "confirmed" %>
                  <p style="color: green;"><%= booking.status %></p>
                <% else booking.status == "cancelled" %>
                  <p style="color: red;"><%= booking.status %></p>
                <% end %>
                <%= link_to booking_path(booking, {status: "confirmed"}), method: :patch do %>
                <i style="color: green;" class="fas fa-check maxi-icon"></i>
                <% end %>
                <%= link_to booking_path(booking, {status: "cancelled"}), method: :patch do %>
                <i style="color: red;" class="fas fa-ban maxi-icon"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end  %>
    </div>
  </div>
</div>
