<div class="max-booking-container">
<h3 id="max-booking-header">Dashboard</h3>
  <div class="max-bookings">
    <strong><p>My Bookings</p></strong>
    <% @bookings.each do |booking| %>
      <div class="booking-testing">
        <%= cl_image_tag booking.course.photo.key, class: "max-booking-class-img" %>
        <div class="max-booking-info">
          <strong><p><%= booking.course.name %></p></strong>
          <p>💰<%= booking.total_price %> €</p>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.status %></p>
        </div>
      </div>
    <% end  %>
  </div>

  <div class="my-received-bookings">
    <strong><p>My Classes</p></strong>
    <% @received_bookings.each do |booking| %>
      <div class="booking-testing" >
        <%= cl_image_tag booking.course.photo.key, class: "max-booking-class-img"%>
        <div class="max-booking-info">
          <strong><p><%= booking.course.name %></p></strong>
          <p>💰<%= booking.total_price %> €</p>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <p><%= booking.status %></p>
        </div>
      </div>
    <% end  %>
  </div>
</div>
