<div class="container-new">
  <div class="column">
    <img src="https://images.unsplash.com/photo-1601224748193-d24f166b5c77?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1064&q=80" class="form-image" alt="">
  </div>
  <div class="column">
    <h1>ADD A NEW COURSE</h1>
    <div class="container-form">
      <%= simple_form_for [ @course ] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :category, collection: Course::CATEGORIES %>
        <%= f.input :content, as: :text, :input_html => { :cols => 5, :rows => 5 }  %>
        <%= f.input :location %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Add course", class: "button" %>
      <% end %>
    </div>
  </div>
</div>
