<div class="relative">
  <div class="show-hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= cl_image_path @course.photo.key %>');">
    <p class="category-link-container"><span><%= link_to "All", categories_path, class: "category-link" %></span> / <span><%= link_to  @course.category, "./?query=#{@course.category.gsub(/\s+/, "").downcase}&commit=Search", class: "category-link" %></span></p>
    <div class="show-hero-text">
      <h1><%= @course.name %></h1>
      <p><%= @course.description %></p>
    </div>
  </div>
  <div class="wrapper">
    <div class="overview main">
      <div class="overview-container">
        <h2>Overview</h2>
        <p><%= @course.content %></p>
      </div>
      <div class="javi-teacher-show-course-container">
        <div class="container">
          <div class="card-teacher">
           <%= cl_image_tag @course.user.photo.key, class: "javi-teacher-image" if @course.photo.attached? %>
            <div class="card-teacher-infos">
              <h2>Who developed this course?</h2>
              <h3><%= @course.user.first_name %> <%= @course.user.last_name %></h3>
              <p><small><%= @course.user.city %>, <%= @course.user.country %></small></p>
              <p><%= @course.user.biography %></p>
              <div class="javi-teacher-additional-info">
                <%= link_to @course.user.linked_in_handle do %>
                  <i class="fab fa-linkedin javi-social-logo"title="Teacher's Linkedin profile"></i>
                  <%# <%= image_tag 'linkedin.png', class: "javi-social-logo" %>
                <% end %>
                <%= link_to @course.user.instagram_handle do %>
                  <i class="fab fa-instagram javi-social-logo" title="Teacher's Instagram page"></i>
                  <%# <%= image_tag 'instagram.png', class: "javi-social-logo" %>
                <% end %>
                <%= link_to @course.user.homepage_url do %>
                  <i class="fas fa-graduation-cap javi-social-logo" title="Teacher's home page"></i>
                  <%# <%= image_tag 'www.png', class: "javi-social-logo" %>
                <% end %>
                <%= link_to "mailto:#{@course.user.email}" do %>
                  <i class="fas fa-at javi-social-logo" title="Contact this teacher"></i>
                  <%# <%= image_tag 'email.png', class: "javi-social-logo" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="sidebar">
      <h4 class="mt-4">When would you like to start?</h4>
      <p>Start straight away and learn at your own pace.</p>
      <div class="d-flex justify-content-between ml-1 mr-1 mt-3" >
        <div class="d-flex justify-content-betweend">
        <p style="font-size: 1.2em" id="course-price"><%= @course.price%></p><p>€ / day</p>
        </div>
        <p style="font-size: 1.2em">

        <% if @reviews.nil? %>
          <p>No ratings yet</p>
        <% else %>
           <% total_rating = 0 %>
          <% @reviews.each do |review| %>
            <% total_rating += review.rating.to_f %>
          <% end %>
          <% final_rating = total_rating / @reviews.count  %>
          <% final_rating.round.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - final_rating.to_i).times do %>
            <i class="far fa-star"></i>
          <% end %>
          <%= (total_rating / @reviews.count).round(1) %>
        <% end %>
      </div>

      <%= simple_form_for [@course, @booking = Booking.new] do |f| %>
        <div class="d-flex justify-content-between">
        <%= f.input :start_date, as: :date, html5: true, label: false, input_html: {class: "datepicker", placeholder: "Start date"}%>
        <%= f.input :end_date, as: :date, html5: :true, label: false, input_html: {class: "datepicker", placeholder: "End date"}%>
        </div>
        <div id="calculate-container">
          <div id="button-calculate-container">
          <%= link_to "Calculate Price","#", class: 'calculate-price'%>
          </div>
        <div class='price-calculator-container d-flex justify-content-around'>
          <span class="total-days"></span>
          <span><strong class="total-price"></strong> </span>
        </div>
        </div>
        <%if @course.user == current_user%>
          <%= f.submit "Cannot book your own course", style: "background-color: grey;", class: "button", disabled: true %>
        <%else %>
          <%= f.submit "Book Now", class: "button" %>
        <%end %>
      <%# <%= link_to 'Join course now', "#", class: " button" %>
      <% end %>
    </div>

  </div>
  </div>


  <div class="reviews">
    <% if @reviews.empty? %>
      <h2 style="padding-left: 20px;">This course has no reviews yet</h2>
    <% else %>
      <h2 style="text-align: center;">Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="review">
            <%= cl_image_tag review.booking.user.photo.key %>
          <div class="review-content">
          <div>
            <p class="review-rating">
            <% rating = review.rating.to_i %>
            <% rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - rating).times do %>
               <i class="far fa-star"></i>
              <% end %>

            <%= review.rating %></p>
            </div>
            <p><%= review.content %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
